<!-- Data Types of Python -->
<!-- Str -->

In [1]:
name = "Hello World"
print(name)

Hello World

### Str Data Type

In [5]:
full_name = "Hamza Rahim" # string "" , '' 
print(full_name) # printing the variable
print(type(full_name)) # printing the type of the variable

Hamza Rahim
<class 'str'>

### Int Data Type

In [8]:
number = 10 # integer
print(number) # printing the variable
print(type(number)) # printing the type of the variable

10
<class 'int'>

### Float Data Type

In [9]:
float_number = 10.5 # float
print(float_number) # printing the variable
print(type(float_number)) # printing the type of the variable

10.5
<class 'float'>

### Bool Data Type

In [10]:
boolean_val = True # boolean
print(boolean_val) # printing the variable
print(type(boolean_val)) # printing the type of the variable

True
<class 'bool'>

### Dict Data Type

In [ ]:
# dict
personal_info = {
    'name': "Hamza",
    'age': 30,
}
print(personal_info)
print(type(personal_info))

{'name': 'Hamza', 'age': 30}

### List Data Type
- Ordered hoti hai
- Change (modify) ho sakti hai
- Duplicate values allowed

In [13]:
my_list = [10, 20, 30, 40]

print(my_list)
print(type(my_list))   # List ka data type check

[10, 20, 30, 40]
<class 'list'>

### Tuple

- Ordered hoti hai
- Change nahi ki ja sakti (immutable)
- Duplicate values allowed

In [ ]:
my_tuple = (10, 20, 30, 40)

print(my_tuple)
print(type(my_tuple))   # Tuple ka data type check

(60, 30)
<class 'tuple'>

### Set 
- Unordered hota hai
- Duplicate values allowed nahi
- Items change nahi hotay, lekin set me items add/remove ho sakte hain

In [15]:
my_set = {10, 20, 30, 40, 40}

print(my_set)           # 40 sirf ek dafa ayega
print(type(my_set))     # Set ka type

{40, 10, 20, 30}
<class 'set'>